header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    padding: 20px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    

    span {
        font-family: $font1;
        font-size: 50px;
        height: fit-content;
        width: fit-content;
    }

    #tic {
        position: absolute;
        top: 25px;
        left: 48px;
        transform: rotate(-26deg);
        transition: 0.3s linear;

        &:hover {
            top: 40px;
            left: 40px;
            transform: rotate(0deg);
        }
    }

    #tac {
        position: absolute;
        top: 40px;
        left: 150px;
    }

    #toe {
        position: absolute;
        top: 85px;
        left: 90px;
    }

    .title-wrap {
        position: relative;
        width: 300px;
        height: 150px;
    }

}